#root {
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.done {
  /* text-decoration-line: line-through; */
}

.todo-list {
  min-height: 300px;
}
.completed-todo-list {
  margin-top: 1rem;
}
